// src/components/Notification.module.scss
.notification {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;

  &.unread {
    background-color: #eef;
  }

  &.read {
    background-color: #fff;
  }

  a {
    text-decoration: none;
    color: #333;
  }

  .markReadButton {
    display: none;
  }

  .markUnreadButton {
    background: none;
    border: none;
    color: blue;
    cursor: pointer;
  }
}
